{
    "root": true,
    "parser": "babel-eslint",
    "extends": [
        "react-app",
        "plugin:react/recommended",
        "prettier",
        "prettier/react"
        ],
    "plugins": [
        "react",
        "jsx-a11y",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "react/no-find-dom-node": 0,
        "react/prop-types": 0,
        "react/react-in-jsx-scope": 0,
        "react/display-name": 0,
        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "trailingComma": "es5",
                "semi": false
            }
        ]
    }
}